<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leadingedje.androidpushnotificationdemo">

    <!--
        These permissions are required to support push notification via GCM
    -->
    <!--
        App can register and receive messages
    -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
        Android application can send the registration ID to the 3rd party server     
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        GCM requires a Google account, 
        necessary only if if the device is running a version lower than Android 4.0.4     
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--
        App can keep the processor from sleeping when a message is received 
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
        Notifications cause devices to vibrate 
    -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
        Creates a custom permission so only this app can receive its messages.
        NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
              where PACKAGE is the application's package name.
    -->
    <permission android:name="com.leadingedje.androidpushnotificationdemo.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.leadingedje.androidpushnotificationdemo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/lelogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.leadingedje.androidpushnotificationdemo.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Delcaration of GcmReceiver which handles messages sent from GCM
            to this application.
        -->
        <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--
                    This is required to support pre-4.4 KitKat devices
                -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!--
                    This matches the package name for the GcmListenerService
                    that will handle incoming GCM messages
                -->
                <category android:name="com.leadingedje.androidpushnotificationdemo" />
            </intent-filter>
        </receiver>

        <!--
            GcmListenerService implementation that handles incoming GCM messages
        -->
        <service
                android:name="com.leadingedje.androidpushnotificationdemo.GCMListenerService"
                android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!--
            InstanceIDListenerService implementation that handles updating
            the GCM registration token
        -->
        <service
                android:name="com.leadingedje.androidpushnotificationdemo.GCMInstanceIDListenerService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!--
            IntentService implementation that handles registering with GCM
        -->
        <service
                android:name="com.leadingedje.androidpushnotificationdemo.PushNotificationRegistration"
                android:exported="false">
        </service>
    </application>
</manifest>
